.action-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.action-bar-start {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.action-bar-end {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .action-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .action-bar-end {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}