.badge {
  display: inline-flex;
  align-items: center;
  background-color: #f1f3f5;
  border-radius: 0.75rem;
  gap: 0.5rem;
  padding: 0.125rem 0.625rem 0.125rem 0.625rem;

  color: var(--CoolGray-90, #21272A);
  text-align: center;

  /* inter/regular/label */
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem; /* 150% */
}

.badge-label {
  white-space: nowrap;
}

.remove-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1;
  color: #999;
  padding: 0;
}

.remove-btn:hover {
  color: #333;
}