.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #FFF5F5;
  background: var(--Bocconi-White, #FFF);
  padding: 1.5rem 5rem;
  margin-top: auto;

  position: fixed;
  z-index: 10;
  width: 100%;
  bottom: 0;
}

.footer-copy {
  color: var(--Bocconi-Black, #000);
  /* inter/regular/p */
  font-family: var(--font-default), sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer-social-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social-item-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
  .app-footer {
    padding: 1rem 1rem;
    position: static;
    margin-top: auto;
  }
}