.image-picture {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-picture-image {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
  object-position: center;
}