.input-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.input-label {
  color: #54585C;

  /* inter/regular/p */
  font-family: var(--font-default), sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.input-field {
  width: 100%;
  padding: 0.75rem 1rem;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  border-radius: 0.625rem;
  border: 2px solid var(--Blue-5, #E4E9F1);

  color: #54585C;

  /* inter/regular/p */
  font-family: var(--font-default), sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.input-field:focus {
  border-color: var(--color-border-focus, #007bff);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}
