.modal-background {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(52, 58, 63, 0.70);
  display: flex;
}

.modal {
  margin: auto;
  background-color: var(--Bocconi-White);
  padding: 3.125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  border-radius: 0.625rem;
  width: 670px;
  display: flex;
  max-height: 100vh;
  overflow-y: scroll;

  &.modal--xl {
    width: 980px;
  }
}

.icon {
  width: 3.375rem;
  height: 3.375rem;
  aspect-ratio: 1/1;
  color: var(--color-success);
  margin-bottom: 0.5rem;

  &.icon--alert {
    color: var(--color-alert);
  }

  &.icon--error {
    color: var(--color-error);
  }
}

.title {
  color: var(--CoolGray-90, #21272A);

  /* inter/bold/H5 */
  font-family: var(--font-default), sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 116.667% */
}

p {
  color: var(--Bocconi-Black, #000);

  /* inter/regular/H6 */
  font-family: var(--font-default), sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 150% */
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.modal-right-button-info-text {
  max-width: 10rem;
  text-align: right;

  color: var(--Bocconi-Black, #000);

  /* inter/regular/tiny */
  font-family: Inter, sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
}

.close-icon {
  width:100%;
  display:flex;
  justify-content: flex-end;
}