.network-controller {
  padding: 1rem;
  width: 14.125rem;
  display: flex;
  flex-direction: column;
  gap: 1.4375rem;
  position: fixed;
  z-index: 300;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 0.625rem 0 0 0.625rem;
  background: #FFF;
  box-shadow: 0 0 30.6px 0 rgba(0, 0, 0, 0.11);
}

.controller-title {
  padding: 0;
  display: flex;
  justify-content: space-between;

  color: var(--Blue-2, #0046AE);

  /* inter/bold/label */
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3125rem; /* 150% */
}

.controller-card {
  padding: 1rem;

  border-radius: 0.625rem;
  border: 1px solid var(--Blue-5, #E4E9F1);
}

.controller-card-title {
  margin-bottom: 1rem;

  color: var(--Blue-2, #0046AE);

  /* inter/bold/tiny */
  font-family: Inter, sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.875rem; /* 116.667% */
}

.pad-grid {
  display: grid;
  grid-template-areas:
    ".    up    ."
    "left .   right"
    ".   down   .";
  gap: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.pad-btn {
  background: #e9ecef;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;

  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0 0 0.625rem 0.625rem;
}

.pad-btn.active {
  background-color: var(--Blue-2, #0046AE);
  color: white;
}

.pad-btn:nth-child(1) { grid-area: up; }
.pad-btn:nth-child(2) { grid-area: left; }
.pad-btn:nth-child(3) { grid-area: right; }
.pad-btn:nth-child(4) { grid-area: down; }

.pad-btn-up {
  transform: rotate(180deg);
  transform-origin: center;
}

.pad-btn-left {
  transform: rotate(90deg);
  transform-origin: center;
}

.pad-btn-right {
  transform: rotate(-90deg);
  transform-origin: center;
}

.direction-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--Blue-2, #0046AE);
  padding-top: 1.5rem;

  /* inter/bold/tiny */
  font-family: Inter, sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.875rem; /* 116.667% */
}

.direction-labels div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.controller-actions {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.btn {
  flex: 1;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  padding: 0.375rem;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;

  white-space: nowrap;

  color: var(--Bocconi-White, #FFF);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.875rem; /* 140% */
}

.btn.blue {
  background-color: var(--Blue-2, #0046AE);
}

.btn.red {
  background-color: var(--Red, #DA1E28);
}

.is-disabled { opacity: 0.6; pointer-events: none; }