.panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  + .panel {
    margin-top: 1rem;
  }
}

.panel-head,
.panel-content,
.panel-footer {
  width: 100%;
}

.panel-footer,
.panel-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.panel-title {
  color: var(--Bocconi-Black, #000);

  /* playfair/bold/H3 */
  font-family: var(--font-heading), serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.0625rem; /* 82.5% */
}

.panel-tag {
  color: var(--Bocconi-Black, #000);

  /* inter/bold/label */
  font-family: var(--font-default), sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

.page-panel {
  width: 100%;
  padding: 3rem 5.0625rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .panel {
    padding: 2px;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
}