.progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.75rem;
  align-self: stretch;
  width: 100%;
}

.progress-bar-value {
  text-align: right;
  color: var(--Bocconi-Black, #000);

  /* Heading/4 */
  font-family: var(--font-default), sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 1.65rem */
}

p {
  color: var(--CoolGray-90, #21272A);

  /* Body/S */
  font-family: var(--font-default), sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.225rem */
}

.progress-bar {
  border-radius: 0.4375rem;
  background: var(--Blue-5, #E4E9F1);
  width: 100%;
  height: 0.5rem;
  overflow: hidden;
}

.progress-bar-indicator {
  height: 0.5rem;
  border-radius: 0.4375rem;
  background: var(--Blue-2, #0046AE);
  width: 0;
  transition: width 0.5s ease-in-out;
}