.tooltip-wrapper {
  display: inline-block;
  position: relative;
  cursor: help;
}

.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  white-space: normal;
  word-wrap: break-word;
  font-size: 0.75rem;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  animation: fadeIn 0.2s forwards;
  max-width: 200px;
  transform-origin: center;
  top:0;
}

.tooltip slot {
  width: 100%;
}

.tooltip.top {
  bottom: 100%;
  left: 50%;
  margin-bottom: 0.5rem;
}

.tooltip.bottom {
  top: 100%;
  left: 50%;
  margin-top: 0.5rem;
}

.tooltip.left {
  right: 100%;
  margin-right: 0.5rem;
}

.tooltip.right {
  left: 100%;
  margin-left: 0.5rem;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}