.file-status-card-panel {
  padding: 1.53194rem 1.03406rem 1.68513rem 1.03406rem;
  border: none;
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 16rem;

  border-radius: 0.4085rem;
  background: var(--Grey-2, #F2F4F8);

  color: var(--CoolGray-90, #21272A);
  text-align: center;

  /* inter/regular/tiny */
  font-family: var(--font-default), sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;

  .semibold,
  strong {
    font-weight: 600;
  }
}

.file-status-card-panel-head {
  padding: 0 0 1.16763rem 0;
  margin-bottom: 1rem;
  width: 100%;
}

.file-status-card-icon {
  color: var(--color-primary);
  height: 2.45113rem;
  margin-bottom: 1rem;
}

.file-status-verify-list {
  text-align: left;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 0.4085rem;

  margin: auto 0 0;
  width: 100%;
}

.file-status-verify-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.12rem;


  /* inter/regular/tiny */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

.icon {
  display: block;
}