.file-card {
  border-radius: var(--radi-lg, 0.75rem);
  border: 1px solid var(--Grey-3, #DDE1E6);
  background: var(--Bocconi-White, #ffffff);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  width: 100%;

  flex-wrap: wrap;
}

.file-card-icon {
  flex-shrink: 0;
}

.file-card-body {
  flex: 1;
  width: calc(100% - 60px);
}

.file-card-meta {
  text-transform: uppercase;

  /* inter/regular/tiny */
  font-family: var(--font-default), sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.file-card-title {
  margin-top: 0.25rem;

  color: var(--Bocconi-Black, #000);

  /* inter/regular/H6 */
  font-family: var(--font-default), sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 30px; */ /* 150% */
  line-height: 22px;
}

.file-card-tags {
  margin-top: 0.5rem;
  padding: 0;
}

.file-card-tag {
  font-size: 0.875rem;
  font-weight: 600;
  color: #7c3aed;
  gap: 2rem;
  display: inline-flex;
  align-items: center; 

}

.file-card-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.25rem;
  text-align: right;
}

.status-label {
  color: var(--Bocconi-Black, #000);

  /* inter/regular/label */
  font-family: var(--font-default), sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem; /* 150% */
}

.status-date {
  font-size: 0.75rem;
  color: #6b7280;
}

.file-card-actions {
  width: 100%;
}

.icon--success {
  color: #22c55e;
}

.icon--spin {
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.icon-download {
  color: var(--Bocconi-White);
}

.icon-file {
  color: var(--color-primary);
}

.icon-polygon {
  height: 1rem;
  width: 1rem;
  display: block;
}

.cta {
  width: 100%;
}
