.file-card {
  border-radius: var(--radi-lg, 0.75rem);
  border: 1px solid var(--Grey-3, #DDE1E6);
  background: var(--Bocconi-White, #FFF);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  width: 100%;

  flex-wrap: wrap;
}

.file-card-total-list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.file-card-total-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  color: var(--Bocconi-Black, #000);

  /* inter/bold/H6 */
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625rem; /* 125% */

  + li {
    margin-top: 0.75rem;
  }

  .right {
    font-weight: 700;
  }

  small {
    /* inter/regular/label */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem;
  }
}