.section-form {
  width: 100%;
}

.section-form-fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.section-form-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step-label {
  color: var(--Blue-2, #0046AE);

  /* inter/regular/H5 */
  font-family: var(--font-default), sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem; /* 150% */

  strong {
    font-weight: 700;
  }
}


.small-note {
  color: var(--CoolGray-60, #697077);

  /* inter/italic/tiny */
  font-family: Inter, sans-serif;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 0.8125rem; /* 108.333% */
}