/* ===== Grid Container ===== */
.container {
  margin: auto;
  max-width: 100vw;
  width: 100%;
}

.flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    &.grid-3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.align-items-center {
  align-items: center;
}

.align-right {
  text-align: right;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.space-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* ===== Gaps (padding tra colonne/righe) ===== */
.gap-1 { gap: 0.25rem; }
.gap-2 { gap: 0.5rem; }
.gap-3 { gap: 0.75rem; }
.gap-4 { gap: 1rem; }
.gap-6 { gap: 1.5rem; }
.gap-8 { gap: 2rem; }

/* ===== Column Span (col-span-1 ... col-span-16) ===== */
.col-span-1  { grid-column: span 1 / span 1; }
.col-span-2  { grid-column: span 2 / span 2; }
.col-span-3  { grid-column: span 3 / span 3; }
.col-span-4  { grid-column: span 4 / span 4; }
.col-span-5  { grid-column: span 5 / span 5; }
.col-span-6  { grid-column: span 6 / span 6; }
.col-span-7  { grid-column: span 7 / span 7; }
.col-span-8  { grid-column: span 8 / span 8; }
.col-span-9  { grid-column: span 9 / span 9; }
.col-span-10 { grid-column: span 10 / span 10; }
.col-span-11 { grid-column: span 11 / span 11; }
.col-span-12 { grid-column: span 12 / span 12; }
.col-span-13 { grid-column: span 13 / span 13; }
.col-span-14 { grid-column: span 14 / span 14; }
.col-span-15 { grid-column: span 15 / span 15; }
.col-span-16 { grid-column: span 16 / span 16; }

/* ===== Column Start (col-start-1 ... col-start-16) ===== */
.col-start-1  { grid-column-start: 1; }
.col-start-2  { grid-column-start: 2; }
.col-start-3  { grid-column-start: 3; }
.col-start-4  { grid-column-start: 4; }
.col-start-5  { grid-column-start: 5; }
.col-start-6  { grid-column-start: 6; }
.col-start-7  { grid-column-start: 7; }
.col-start-8  { grid-column-start: 8; }
.col-start-9  { grid-column-start: 9; }
.col-start-10 { grid-column-start: 10; }
.col-start-11 { grid-column-start: 11; }
.col-start-12 { grid-column-start: 12; }
.col-start-13 { grid-column-start: 13; }
.col-start-14 { grid-column-start: 14; }
.col-start-15 { grid-column-start: 15; }
.col-start-16 { grid-column-start: 16; }
